@import "../../sass/colors.scss";

.PlayerStatusBox {
    display: flex;
    font-size: 2rem;
    justify-content: space-around;
    width: 100%;
    padding: 1rem 3rem;
}

.PlayerStatus {
    background-color: white;
    border-radius: 1rem;
    color: $colorDark;
    flex: 1;
    margin: .5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s ease-out;

    &:hover {
        transform: scale(1.01);
    }

    &.Active {
        border-bottom: 2px solid $colorPrimary;
        box-shadow: 0rem .2rem .5rem .1rem rgba($color: $colorPrimary, $alpha: 1.0);
    }
}

.StatusMark {
    font-weight: 700;
    margin-left: 2rem;
}
